.footer {
    padding: 50px 20px 70px;
    text-align: center;  
    background-color: $color-primary;
  
    &__container {
      @extend %container;
    }

    &__social {
        margin-bottom: 40px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
        justify-content: center;
    }

    a {
      transition: color 0.5s;
      display: block;     
      padding: 10px;

      :focus,
      :hover {
        color: $color-accent;
        transition: color 0.5s;
      }
      
      .fab {
      font-size: 36px;
      }
    }
    }

    