.footer {
    padding: ($gap * 2.5) $gap ($gap * 3.5);
    margin-bottom: $gap * 2;  
    text-align: center;  
    background-color: $color-primary;
  
    &__container {
      @extend %container;
    }

    &__sicial {
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50px, max-content));
        justify-content: center;
    }
}